---
layout: default
gallery:
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images/cafe2.jpg
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images/cafe3.jpg
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images/cafe12.jpg
  - column-size: col-12
    aspect-ratio: square
    background_image: /images/cafe.jpg
  - column-size: col-6_sm-12
    aspect-ratio: portrait-tall
    background_image: /images/cafe5.jpg
  - column-size: col-6_sm-12
    aspect-ratio: portrait-tall
    background_image: /images/cafe6.jpg
  - column-size: col-12
    aspect-ratio: landscape
    background_image: /images/cafe9.jpg
  - column-size: col-6_sm-12
    aspect-ratio: portrait
    background_image: /images/cafe11.jpg
  - column-size: col-6_sm-12
    aspect-ratio: portrait
    background_image: /images/cafe7.jpg
---

<body>

		
          
        

    <section class="grid">
        <h2 class="col-12 bold-text center">Café</h2>
        <p class="col-12 center text-md">In unserem gemütlichen Café mit großer Terrasse kannst du es dir so richtig gemütlich machen. Genieße ein leckeres Frühstück mit Freunden, ein Stück Kuchen oder trink einen guten Schluck Frankenwein und lass die Seele baumeln.  </p>
    </section>

    {%include hours.html%}

    <section class="padded">
      <div class="gallery grid center" id="lightgallery-2">
        <a class="button m-side-50" href="/images/speisekarte-dl.jpg">
            Menu 
        </a> 
      </div>
    </section>

    <section class="padded">
      <div class="capped-width m-l-center m-r-center">
        <h2 class="center bold-text" id="gallery-c">So sieht's aus</h2>
        <div class="gallery grid" id="lightgallery">
          {% for item in page.gallery %}
        
            <a class="{{item.column-size}} gallery-item" href="{{item.background_image}}">
              <div class="bg-image {{item.aspect-ratio}}" 
                  style="background-image: url('{{item.background_image}}');">
              </div>
            </a> 
        
          {% endfor %}
        </div>
    </div>
    </section>

   
   
	</body>

</html>
