* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color:#fde7c5;
    color: #535E6C;
}


[class*="col-"]{
    margin: 0;
}

img{
    max-width: 100%;
}

/* Re-usable Utiity Classes  */
.tall-50 { min-height: 50vh; }
.tall-60 { min-height: 60vh; }
.tall-70 { min-height: 70vh; }
.tall-80 { min-height: 80vh; }
.tall-90 { min-height: 90vh; }
.tall-100 { min-height: 100vh; }
.tall-200 { min-height: 200vh; }


.padded    { padding: 4%;    }
.margin-b-2{margin-bottom: 2rem;}

.padded-1,
.grid.padded-1 { padding: 1rem; }
.padded-left-0{
    padding-left: 0;
}

.padded-t-5{
    padding-top: 5rem;
}
.p-l-9{padding-left: 9rem;}
.p-b-1{padding-bottom: 1rem;}
.p-b-2{padding-bottom: 2rem;}

.m-side-50{
    margin: 0 45%;
}
.m-t--1{margin-top: -1.2rem;}

.padded-2,
.grid.padded-2 { padding: 2rem; }

.margin-b-0 { margin-bottom: 0; }
.margin-b-1 { margin-bottom: 1rem; }
.m-l-center{margin-left:auto;}
.m-r-center{margin-right:auto;}


.bg-light    { background-color: #F8F6F4; }
.bg-featured { background-color: #018ca2; }

.text-featured { color: #f59186;} 
.text-md{font-size: 1.4rem;}

.left   { text-align: left; }
.center { text-align: center; }
.right  { text-align: right; }

.portrait-tall{
    padding-bottom: 175%;
  }
  
  .portrait{
    padding-bottom: 125%;}
  
  .square{
    padding-bottom: 100%;
  }
  
  .landscape{
    padding-bottom: 66%;
  }
  
  .landscape-wide{
    padding-bottom: 56%;
  }

.gallery [class*="col-"]{
    padding: 0.2rem;
}

.gallery .gallery-item {
    border-bottom: none;
}

.lg-backdrop {
    background-color: #2E3740 ;
}

.lg-backdrop.in {
    opacity: 0.95;
}

.capped-width{
    max-width: 1000px;
}


/* Typography styles*/

.bold-text{
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: 400;
    font-size: 3.2rem;
    margin-bottom: 1rem;
}

.style-text{
    border: 1vw solid white;
}


.header-text{
    font-family: 'Tangerine';
    font-size: 8rem;
    padding-bottom: 1rem;
}

.footer-text{
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Tangerine';
    margin-bottom: 0;
    padding-top: 1rem;
    padding-bottom:0;
}

.uberuns-text{font-size:2rem;}


p:last-child{
    margin-bottom: 0;
    padding-bottom: 0;
}

.bigger{
    font-size: 2rem;
}

#map a,
#contactme a{
    font-size: 1.25rem;
    line-height: 1.35;
    margin-bottom: 0.8rem;
}

#map a:hover,
#contactme a:hover{
    color: #fece8a;
}



/*Images styles*/



.logo{
    min-height: 30vh;
    padding: 0;
    margin: 0;
    max-width:100%;
    height: auto;
}

.bg-image{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.story{
    min-height:25vh;
    border: 1vw solid #FEE7C5;
}

.bg-impressum{
    background-image: url('/images/impressum.jpg');
}

 .bg-plan{
     background-image: url('/images/plan.jpg');
 }

 .bg-zweite{
     background-image: url('/images/zweite.jpg');
 }

 .bg-laden-01{
     background-image: url('/images/laden-01.jpg');
 }
/*Link styles*/

a{
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

nav{
    font-family: 'Zen Maru Gothic', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: 0.08em;;
}

nav a{
    padding: 0.5rem 1.5rem;
}

nav a:hover{
    color: #fece8a;
    font-size: 1.4rem;
    transition: 0.2s;
}

.next{
    font-size: 3rem;
    text-align: center;
}

.next:hover{
    color: #fece8a;
    font-size: 3.5rem;
}

            
              
.hover-container {
    background-size: cover;
    background-position: center;
}
  
.hover-overlay {
    position: relative;
    padding-bottom: 100%;
    color: rgba(255, 255, 255, 0);
    position: relative;
    /* you only need to use relative + absolute if you want to determine the exact aspect ratio of the container */
    transition: all 0.3s;
}
  
.hover-overlay:hover {
    background-color: rgba(60, 60, 60, 0.7);
    color: white;
}
  
.hover-inner {
    position: absolute;
    width: 100%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
  
.hover-inner p {
    margin-bottom: 0;
}

  
form input, form textarea{
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 2px solid #545E6C;
    /*this will override the blue outline upon hovering or clicking*/
    outline: none;
    font-family: inherit;
    font-size: 0.9rem;
  }
  /* sets the outlien to teal when its being focuse --> clicked on/written in*/
  form input:focus, form textarea:focus{
    border-color: #FECD89;
  }
  
  textarea{
    min-height: 5rem;
  }
  
  form label{
    margin-top: 1rem;
    display: block;
    color: #86868a;
    font-weight: bold;
  }
  
  form button{
    background-color: #545E6C;
    color: white;
    border: none;
    padding: 0.5rem 2rem;
    letter-spacing: 0.1em;
    margin: 0.5 0;
  }

  form button:hover{
      background-color: white;
      color: #545E6C;
      border: 2px solid #FECD89;
      transition: 0.2s;
   
  }      
  
  form a{
      display: block;
  }
            

section{
    padding: 4%;
}


.button{
    border: 1px solid #535D6B;
    border-radius: 10rem;
    padding: 2rem;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Zen Maru Gothic', sans-serif;
    display: block;
    text-transform: uppercase;
}

.button:hover{
    background-color: #535D6B;
    color: #FEE7C5;
    transform: 0.4s;
}


.clickedon{
    color: #fece8a;
}


header,
footer,
.menu{
    background-image: url('/images/background-h-f.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    
}

p, li, span, .contact{
    font-size: 1.25rem;
    line-height: 1.35;
    margin-bottom: 0.8rem;
}


footer h2{
    
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: 400;
    font-size: 4rem;
    padding-bottom: 4rem;
}

li{
    margin-bottom: 1.2rem;
}

/* specific styles*/

#story{
    margin-bottom: 0;
    padding-bottom: 0;
}

.story-text{
    padding: 0 1rem;
}

#unser{
    margin-top: 0;
}

#contactme{
    color: #535E6C;
}

