* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}


[class*="col-"]{
    margin: 0;
}

img{
    max-width: 100%;
}

/* Re-usable Utiity Classes  */
.tall-50 { min-height: 50vh; }
.tall-60 { min-height: 60vh; }
.tall-70 { min-height: 70vh; }
.tall-80 { min-height: 80vh; }
.tall-90 { min-height: 90vh; }
.tall-100 { min-height: 100vh; }
.tall-150 { min-height: 150vh; }

.padded    { padding: 4%;    }

.padded-1,
.grid.padded-1 { padding: 1rem; }
.padded-left-0{
    padding-left: 0;
}

.padded-2,
.grid.padded-2 { padding: 2rem; }

.margin-b-0 { margin-bottom: 0; }
.margin-b-1 { margin-bottom: 1rem; }


.bg-light    { background-color: #F8F6F4; }
.bg-featured { background-color: #018ca2; }

.text-featured { color: #f59186;} 
.text-md{font-size: 1.4rem;}

.left   { text-align: left; }
.center { text-align: center; }
.right  { text-align: right; }

.portrait-tall{
    padding-bottom: 175%;
  }
  
  .portrait{
    padding-bottom: 125%;}
  
  .square{
    padding-bottom: 100%;
  }
  
  .landscape{
    padding-bottom: 66%;
  }
  
  .landscape-wide{
    padding-bottom: 56%;
  }





/* Typography styles*/

.bold-text{
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: 400;
    font-size: 3.2rem;
    margin-bottom: 1rem;
}

.style-text{
    border: 1vw solid white;
}

.footer-text{
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Tangerine';
    margin-bottom: 0;
    padding-top: 1rem;
    padding-bottom:0;
}




/*Images styles*/



.logo{
    min-height: 30vh;
    padding: 0;
    margin: 0;
    max-width:100%;
    height: auto;
}

.bg-image{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.story{
    background-image: url('/images/green-chameleon-s9CC2SKySJM-unsplash\(1\)\(1\).jpg');
    min-height:25vh;
    padding-bottom:30%;
    border: 1vw solid white;
}

.bg-img-1{
    background-image: url('https://source.unsplash.com/hr3a-VnCIYY');
 }
 
 .bg-img-2{
    background-image: url('https://source.unsplash.com/QOQAyLXongo');
 }
 
 .bg-img-3{
    background-image: url('https://source.unsplash.com/1ZHOvZAoIDs');
 }

/*Link styles*/

a{
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

nav{
    font-family: 'Zen Maru Gothic', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.08em;;
}

nav a{
    padding: 0.5rem 1.5rem;
}

nav a:hover{
    color: lightgray;
    font-size: 1.4rem;
    transition: 0.2s;
}

.next{
    color: black;
    font-size: 3rem;
    text-align: center;
}

.next:hover{
    color: lightgray;
    font-size: 3.5rem;
}

            
              
.hover-container {
    background-size: cover;
    background-position: center;
}
  
.hover-overlay {
    position: relative;
    padding-bottom: 100%;
    color: rgba(255, 255, 255, 0);
    position: relative;
    /* you only need to use relative + absolute if you want to determine the exact aspect ratio of the container */
    transition: all 0.3s;
}
  
.hover-overlay:hover {
    background-color: rgba(60, 60, 60, 0.7);
    color: white;
}
  
.hover-inner {
    position: absolute;
    width: 100%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
  
.hover-inner p {
    margin-bottom: 0;
}

  
form input, form textarea{
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 2px solid gray;
    /*this will override the blue outline upon hovering or clicking*/
    outline: none;
    font-family: inherit;
    font-size: 0.9rem;
  }
  /* sets the outlien to teal when its being focuse --> clicked on/written in*/
  form input:focus, form textarea:focus{
    border-color: #CF9D99;
  }
  
  textarea{
    min-height: 5rem;
  }
  
  form label{
    margin-top: 1rem;
    display: block;
    color: #86868a;
    font-weight: bold;
  }
  
  form button{
    background-color: #86868a;
    color: white;
    border: none;
    padding: 0.5rem 2rem;
    letter-spacing: 0.1em;
    margin: 0.5 0;
  }

  form button:hover{
      background-color: white;
      color: #CF9D99;
      border: 1px solid #CF9D99;
      transition: 0.2s;
   
  }      
  
  form a{
      display: block;
  }
            

section{
    padding: 4%;
}


header,
footer,
.menu{
    background-color: #FEF9FB;
  
    
}

p, li, span, .contact{
    font-size: 1.25rem;
    line-height: 1.35;
    margin-bottom: 0.8rem;
}



footer h2{
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: 400;
    font-size: 3rem;
    margin-bottom: 1rem;
}

li{
    margin-bottom: 1.2rem;
}


