<section class="grid">
    <!-- <div class="col-12 right">
    	<a class="hamburger-button mob-show"> &#9776; </a>
  	</div> -->
    <nav class="center col-12 mob-hide">
        <a 
            {% if page.url == "/" %}
                class="clickedon"
            {%endif%}
        
        href="/"> Home </a>
        <a 
        {% if page.url == "/uber-uns.html" %}
        class="clickedon"
        {%endif%}
        
        href="/uber-uns.html"> Über uns </a>
        <a 
        {% if page.url == "/dorfladen.html" %}
        class="clickedon"
        {%endif%}
        
        href="/dorfladen.html"> Dorfladen </a>
        <a 
        {% if page.url == "/cafe.html" %}
        class="clickedon"
        {%endif%}
        
        
        href="/cafe.html"> Cafe </a>
        <a 
        {% if page.url == "/kontakt.html" %}
        class="clickedon"
        {%endif%}
        
        href="/kontakt.html"> Kontakt </a>
        <a 
        {% if page.url == "/impressum.html" %}
        class="clickedon"
        {%endif%}
        
        href="/impressum.html"> Impressum </a>
     </nav>

   
    
     <!-- <div class="mobile-menu"> 
        <nav> 
          <a href="/"> Home </a>
          <a href="/uber-uns.html"> Über uns </a>
          <a href="/dorfladen.html"> Dorfladen </a>
          <a href="/cafe.html"> Café </a>
          <a href="/kontakt.html"> Kontakt </a>
          <a href="/impressum.html"> Impressum </a>
        </nav>
  </div>  -->
</section>