<section class="grid menu">
    <nav class="center col-12">
        <a 
            {% if page.url == "/" %}
                class="clickedon"
            {%endif%}
        
        href="/"> Home </a>
        <a 
        {% if page.url == "/uber-uns.html" %}
        class="clickedon"
        {%endif%}
        
        href="/uber-uns"> Über uns </a>
        <a 
        {% if page.url == "/dorfladen" %}
        class="clickedon"
        {%endif%}
        
        href="/dorfladen"> Dorfladen </a>
        <a 
        {% if page.url == "/cafe" %}
        class="clickedon"
        {%endif%}
        
        
        href="/cafe"> Cafe </a>
        <a 
        {% if page.url == "/kontakt" %}
        class="clickedon"
        {%endif%}
        
        href="/kontakt"> Kontakt </a>
        <a 
        {% if page.url == "/impressum" %}
        class="clickedon"
        {%endif%}
        
        href="/impressum"> Impressum </a>
     </nav>
</section>