<header id="header" class="grid-spaceAround">
    <div class="col-12 right p-t-2">
    	<a class="hamburger-button mob-show"> &#9776; </a>
  	</div>
    <div class="logo col-6 padded-t-5 center">
        <!-- <img src="/images/logo-final.jpg" alt="logo"> -->
       <a href="/"> <img src="/images/website-logo.png" alt="logo"> </a>
    </div>
    <div class="col-12 center">
        {%include header-nav.html%}
    </div>  
    <div class="mobile-menu"> 
        <nav> 
          <a href="/"> Home </a>
          <a href="/uber-uns.html"> Über uns </a>
          <a href="/dorfladen.html"> Dorfladen </a>
          <a href="/cafe.html"> Café </a>
          <a href="/kontakt.html"> Kontakt </a>
          <a href="/impressum.html"> Impressum </a>
        </nav>
  </div> 
</header>

